<div class="about-bg">
  <img src="assets/assets/pattern.svg" alt="Mandala Background" class="mandala-bg">
  <img src="assets/assets/bigFlower.svg" alt="Big Garland Left" class="garland garland-left big-garland">
  <img src="assets/assets/smallFlower.svg" alt="Small Garland Left" class="garland garland-left small-garland">
  <img src="assets/assets/bigFlower.svg" alt="Big Garland Right" class="garland garland-right big-garland">
  <img src="assets/assets/smallFlower.svg" alt="Small Garland Right" class="garland garland-right small-garland">
  <div class="about-content">
    <h1 class="brand-title">About Us</h1>
    <!-- Add about content here -->
  </div>
</div>
