<div class="hero-bg">
  <img src="assets/assets/pattern.svg" alt="Mandala Background" class="mandala-bg">
  <img src="assets/assets/bigFlower.svg" alt="Big Garland Left" class="garland garland-left big-garland">
  <img src="assets/assets/smallFlower.svg" alt="Small Garland Left" class="garland garland-left small-garland">
  <img src="assets/assets/bigFlower.svg" alt="Big Garland Right" class="garland garland-right big-garland">
  <img src="assets/assets/smallFlower.svg" alt="Small Garland Right" class="garland garland-right small-garland">

  <div class="hero-content">
    <h1 class="brand-title">ungaliyer</h1>
    <p class="subtitle">Perform Your pooja with the best group of Professional prohit and Pandit</p>
   <div class="pooja-visuals">
    <div class="kalasam-block">
      <img src="assets/assets/kalasam.svg" alt="Kalasam" class="kalasam">
      <div class="pooja-count">500+ Poojas Performed</div>
    </div>
    <div class="fire-block">
      <img src="assets/assets/fire-icon.png" alt="Fire Icon" class="fire-icon">
      <div class="pooja-count2">50+ Types of pooja</div>
    </div>
  </div>
  </div>

  <section class="testimonial-section">
    <h2>Our Testimonial</h2>
    <app-testimonials></app-testimonials>
  </section>
</div>
